name: tests

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 12.18.3
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: npm test -- --ci
      - uses: actions/upload-artifact@v3
        with:
          name: screenshots
          path: screenshots/
          retention-days: 1

